<main>
  <div>
    <form [formGroup]="newComicForm" (ngSubmit)="onSubmit()">
      <label for="title">title<input type="text" formControlName="title"></label>
      <label for="cover">cover<input type="text" formControlName="cover"></label>
      <label for="author">author<input type="text" formControlName="author"></label>
      <label for="company">company<input type="text" formControlName="company"></label>
      <button>Añadir</button>
    </form>
  </div>
  <div *ngIf="comic.id >0" >
    <form [formGroup]="newComicForm" (ngSubmit)="onSubmit()">
      <label for="title">title<input type="text" formControlName="title"></label>
      <label for="cover">cover<input type="text" formControlName="cover"></label>
      <label for="author">author<input type="text" formControlName="author"></label>
      <label for="company">company<input type="text" formControlName="company"></label>
      <button>Editar</button>
    </form>
  </div>
</main>
